parameters:

    excludePaths:
        - /tests/*
        - */tests/*
        - */_dev/*

    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'
#       - '#on an unknown class [a-zA-Z0-9\\_]+#'
        - '#is never read, only written#'
        - '#but returns SilverStripe\\ORM\\DataObject\|null#'
        - "#PHPDoc tag @property has invalid value#"

#        - '#with incorrect case:#'

#    autoload_directories:
#        - %currentWorkingDirectory%/app/src

#    excludes_analyse:
#        - %currentWorkingDirectory%/vendor/phpunit/phpunit-mock-objects/
#        - %currentWorkingDirectory%/vendor/phpunit/php-code-coverage/Tests/

    scanDirectories:
      - %currentWorkingDirectory%
